body {
  margin: 0;
  background: black;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.thumbnails {
  height: 99px;
  width: 25%;
  position: absolute;
  display: flex;
  align-items: center;
  left: 37%;
  top: 5px;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  overflow-y: hidden;
  gap: 5px;
  z-index: 1;
  color-scheme: dark;
}

.thumbnails > img {
  display: flex;
  max-height: 80px;
  max-width: auto;
  object-fit: contain;
  cursor: pointer;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  top: 75px;
}

.imageContainer img {
  position: relative;
  width: auto;
  height: 100%;
  object-fit: contain;
  scroll-behavior: smooth;
}

#right {
  position: absolute;
  bottom: 45%;
  right: 95px;
  background: none;
  border: none;
  color: aqua;
  font-size: 2rem;
}

#right:hover {
  color: yellow;
}

#left {
  position: absolute;
  bottom: 45%;
  left: 90px;
  background: none;
  border: none;
  color: yellow;
  font-size: 2rem;
}

#left:hover {
  color: aqua;
}

@media (max-width: 800px) {
  .thumbnails {
    width: 67%;
    left: 70px;
    top: 60%;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-x: hidden;
    overflow-y: scroll;
    border: 5px solid aqua;
    border-radius: 5px;
  }
  .imageContainer img {
    max-width: 120vw;
    bottom: 20%;
  }
  #left,
  #right {
    display: none;
  }
}
